<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>皮肤站</key>
	<dict>
		<key>英雄联盟</key>
		<string>7726</string>
		<key>超级英雄</key>
		<string>7728</string>
		<key>动漫同人</key>
		<string>7730</string>
		<key>游戏同人</key>
		<string>7732</string>
	</dict>
	<key>攻略大全</key>
	<dict>
		<key>攻略大全</key>
		<string>726</string>
	</dict>
	<key>生物图鉴</key>
	<dict>
		<key>友好生物</key>
		<string>30146</string>
		<key>敌对生物</key>
		<string>30148</string>
		<key>中立生物</key>
		<string>30150</string>
	</dict>
	<key>实用材料</key>
	<dict>
		<key>新手指南</key>
		<string>3821</string>
		<key>高手进阶</key>
		<string>3827</string>
	</dict>
	<key>合成查询</key>
	<dict>
		<key>基本合成</key>
		<string>5917</string>
		<key>物品合成</key>
		<string>5925</string>
		<key>燃料合成</key>
		<string>5924</string>
		<key>红石合成</key>
		<string>6644</string>
		<key>食物合成</key>
		<string>5922</string>
		<key>方块合成</key>
		<string>5918</string>
		<key>工具合成</key>
		<string>5919</string>
		<key>炼金合成</key>
		<string>5926</string>
		<key>其他合成</key>
		<string>5923</string>
		<key>道具合成</key>
		<string>5921</string>
	</dict>
	<key>视频栏目</key>
	<dict>
		<key>视频解说</key>
		<string>30152</string>
		<key>动漫专题</key>
		<string>30154</string>
		<key>多人实况</key>
		<string>30156</string>
		<key>作品展示</key>
		<string>30158</string>
	</dict>
	<key>新闻资讯</key>
	<dict>
		<key>新闻资讯</key>
		<string>725</string>
	</dict>
	<key>指令教程</key>
	<dict>
		<key>指令教程</key>
		<string>3823</string>
	</dict>
</dict>
</plist>
